.article-actions {
  border-top: 1px solid $light-grey;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  color: $brand;
}

.article-body {
  border-top: 1px solid $light-grey;
  padding-top: 15px;
  padding-bottom: 15px;
}