.badge {
  background-color: $brand !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  a {
    color: $off-white !important;
    
  }
}

.input_checkbox input {
  width: auto !important;
}