<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://wwww.udemy.com">The Complete Ruby on Rails Developer</a> 
      by <a href="http://www.mashurhossain.com/">Mashur Hossain</a>
    </small>

    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>

  </footer>
</div>